.room-selector {
    text-align: center;
    margin-bottom: 15px;
}

#recordingListsFooter, #artifactListsFooter {
    margin-top: 10px;
}

#recordingLists .filesize button:first-child {
    margin-right: 10px;
}
