.room-selector {
    text-align: center;
    margin-bottom: 15px;
}

#recordingListsFooter, #artifactListsFooter {
    margin-top: 10px;
}

#recordingLists .filesize button:first-child {
    margin-right: 10px;
}

.wp-list-table tbody td, .wp-list-table tbody th {
    vertical-align: middle;
}

.wp-list-table .recording-checkbox {
    margin-top: 8px;
}

.permission-table .wp-list-table.striped tbody tr:nth-child(odd) {
    background-color: #f0f0f0; /* A slightly darker grey */
}

.plugnmeet-pagination-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
