/* Add any specific styles for the artifacts page here */
.room-selector{
    text-align: center;
    margin-bottom: 15px;
}

.plugnmeet-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plugnmeet-header-actions {
    display: flex;
    gap: 10px;
}

.plugnmeet-analytics-table-wrapper {
    max-width: 100%;
    overflow-x: auto;
}
