.pnm-container {
    width: 100%;
    margin: auto;
}

.pnm-container .description {
    margin-bottom: 1.5em;
}

.pnm-container .pnm-recordings-wrapper {
    margin-top: 2em;
}

/* Add some spacing to the right of the action buttons in the table */
.pnm-container .widefat .button {
    margin-left: 0.5em;
}

.pnm-container .widefat td:last-child {
    white-space: nowrap;
}

/* Ensure the status notice in the login form has some margin */
.pnm-container .plugnmeet-login-form .notice {
    margin-bottom: 1em;
}

.pnm-container .plugnmeet-login-form .form-submit {
    width: 100%;
    text-align: right;
}
