* {
    Box-sizing: border-box;
}

.pnm-container {
    width: 100% !important;
    max-width: 1280px !important;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.pnm-container .column {
    margin: 15px;
    border: 1px solid rgb(0 0 0 / 15%);
    box-shadow: 0 4px 52px rgb(0 0 0 / 15%);
    border-radius: 10px;
    padding: 20px;
}

.pnm-container .column-half {
    width: calc(50% - 30px);
}

.pnm-container .column-full {
    width: calc(100% - 30px);
}

.pnm-container h1.headline {
    margin: 0;
    font-size: 20px;
}

.pnm-container .br {
    width: 100%;
    border-top: 1px solid #000;
    position: relative;
    margin: 15px 0;
}

.pnm-container .br .br-inner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 30px;
    background-color: #fff;
    top: -15px;
}

.pnm-container .br::before, .br::after {
    left: 51%;
    position: absolute;
    content: "";
    width: 1px;
    height: 25px;
    background-color: #000;
    transform: rotate(15deg);
    top: -13px;
    z-index: 9;
}

.pnm-container .br::after {
    left: 49%;
}

.pnm-container .password p {
    font-size: 16px;
    margin: 6px 0;
}

.pnm-container .description p {
    font-size: 14px;
}

.pnm-container .password {
    padding: 15px 0;
}

.pnm-container a.detail-btn {
    padding: 8px 30px;
    background-color: #24AEF7;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    border-radius: 8px;
    transition: 0.3s ease-in;
}

.pnm-container a.detail-btn:hover {
    background-color: rgba(0, 69, 131);
    color: #fff;
}

.pnm-container .flex {
    display: flex;
    flex-wrap: wrap;
}

.pnm-container .w-6-4 {
    width: 60%;
}

.pnm-container .w-6-2 {
    width: 40%;
    padding-left: 30px;
}

.pnm-container form.login-form label.input {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.pnm-container form.login-form label.input p {
    margin: 0;
    width: 150px;
    font-size: 18px;
}

.pnm-container form.login-form label.input input {
    width: calc(100% - 150px);
    height: 36px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    padding: 2px 10px;
    outline: none;
}

.pnm-container form.login-form {
    padding-top: 15px;
}

.pnm-container form.login-form .btns {
    text-align: right;
}

.pnm-container form.login-form .btns button {
    min-height: 36px;
    width: 100px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in;
    outline: none;
}

.pnm-container form.login-form label.input input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.pnm-container form.login-form .btns button.reset {
    background-color: rgba(220, 38, 38);
}

.pnm-container .description a {
    color: #24AEF7;
    text-decoration: none;
}

.pnm-container .table-head {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 10px;
}

.pnm-container .table-head div, .table-item div {
    width: 25%;
}

.pnm-container .recording-table {
    padding: 15px 0;
}

.pnm-container .table-item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.03);
    margin-top: 2px;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.pnm-container .table-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.pnm-container .table-item .action a {
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    padding: 7px 15px;
    color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease-in;
}

.pnm-container .table-item .action a.download {
    background-color: #24AEF7;
    margin-right: 10px;
}

.pnm-container .table-item .action a.delete {
    background-color: rgba(220, 38, 38);
}

.pnm-container .table-item .action a.download:hover {
    background-color: rgba(0, 69, 131);
}

.pnm-container .alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.pnm-container .alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.pnm-container .alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.pnm-container .alert-primary {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
}

@media screen and (max-width: 1023px) {
    .pnm-container form.login-form label.input p {
        width: 100px;
        font-size: 16px;
    }

    .pnm-container form.login-form label.input input {
        width: calc(100% - 100px);
    }

    .pnm-container .table-item .action a {
        font-size: 12px;
    }

    .pnm-container .table-head div,
    .pnm-container .table-item div {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .pnm-container .column-half {
        width: calc(100% - 30px);
    }

    .pnm-container .w-6-4, .pnm-container .w-6-2 {
        width: 100%;
        padding: 0;
    }

    .pnm-container .w-6-2 {
        padding-top: 50px;
    }

    .pnm-container .br {
        margin: 10px 0;
    }

    .pnm-container .br::before, .pnm-container .br::after {
        height: 15px;
        top: -8px;
    }

    .pnm-container .column {
        padding: 15px;
    }

    .pnm-container h1.headline {
        font-size: 18px;
    }

    .pnm-container .recording-table {
        overflow-x: auto;
    }

    .pnm-container .recording-table .table-inner {
        width: 689px;
    }
}
